<div class="container">
  <div class="row">
    <div class="col">

      <h1>Customer list</h1>

      <div class="d-flex justify-content-between">
        <div>
          <button routerLink="../add" class="btn btn-primary">Add</button>
        </div>
        
        <app-customers-filter></app-customers-filter>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Birthdate</th>
            <th>Phone</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngIf="customers$ | async as customers">
            <tr
              *ngFor="let customer of customers"
              [routerLink]="['../details', customer.id]"
            >
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.surname }}</td>
              <td>{{ customer.birthdate }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.email }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>
  </div>
</div>
