<form [formGroup]="form" (ngSubmit)="performFilter()" class="row g-2 align-items-center">
	<div class="col-auto">
		<input formControlName="query" class="form-control" placeholder="Search...">
	</div>
	<div class="col-auto">
		<button class="btn btn-primary">Search</button>
	</div>
	<div class="col-auto">
		<button class="btn btn-secondary" (click)="clearQuery()">Clear</button>
	</div>
</form>
