<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">

      <h1>Add new customer</h1>

      <form [formGroup]="form" (ngSubmit)="addCustomer()">
        <div class="mb-3">
          <label class="form-label">Customer name</label>
          <input
            class="form-control"
            [ngClass]="{ 'is-invalid': showError(form.controls.name) }"
            formControlName="name"
            placeholder="Name"
          >
          <div *ngIf="showError(form.controls.name)" class="text-danger">
            <small *ngIf="form.controls.name.errors?.required">
              Name is required
            </small>
            <small *ngIf="form.controls.name.errors?.maxlength">
              Name should consist from less than 100 characters
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Customer surname</label>
          <input
            class="form-control"
            [ngClass]="{ 'is-invalid': showError(form.controls.surname) }"
            formControlName="surname"
            placeholder="Surname"
          >
          <div *ngIf="showError(form.controls.surname)" class="text-danger">
            <small *ngIf="form.controls.surname.errors?.required">
              Field is required
            </small>
            <small *ngIf="form.controls.surname.errors?.maxlength">
              Surname should consist from less than 100 characters
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Customer birthdate (example: 1995-10-15)</label>
          <input
            class="form-control"
            [ngClass]="{ 'is-invalid': showError(form.controls.birthdate) }"
            formControlName="birthdate"
            placeholder="Birthdate"
          >
          <div *ngIf="showError(form.controls.birthdate)" class="text-danger">
            <small *ngIf="form.controls.birthdate.errors?.required">
              Birthdate is required
            </small>
            <small *ngIf="form.controls.birthdate.errors?.pattern">
              Invalid birthdate format
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Customer phone</label>
          <input
            class="form-control"
            [ngClass]="{ 'is-invalid': showError(form.controls.phone) }"
            formControlName="phone"
            placeholder="Phone"
          >
          <div *ngIf="showError(form.controls.phone)" class="text-danger">
            <small *ngIf="form.controls.phone.errors?.required">
              Phone is required
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Customer email</label>
          <input
            class="form-control"
            [ngClass]="{ 'is-invalid': showError(form.controls.email) }"
            formControlName="email"
            placeholder="Email"
          >
          <div *ngIf="showError(form.controls.email)" class="text-danger">
            <small *ngIf="form.controls.email.errors?.required">
              Email is required
            </small>
            <small *ngIf="form.controls.email.errors?.email">
              Invalid email format
            </small>
          </div>
        </div>

        <ng-container *ngIf="error">
          <div class="text-danger mb-4">{{ error }}</div>
        </ng-container>

        <div class="row g-2 align-items-center">
          <button class="btn btn-primary">Submit</button>
          <button class="btn btn-secondary" routerLink="../list">Back</button>
        </div>
      </form>

    </div>
  </div>
</div>

