<div class="container">
  <div class="row">
    <div class="col">

      <h1>Customer information</h1>

      <ng-container *ngIf="customer$ | async as customer">
        <table class="table">
          <tr>
            <td><b>Name</b></td>
            <td>{{ customer.name }}</td>
          </tr>
          <tr>
            <td><b>Surname</b></td>
            <td>{{ customer.surname }}</td>
          </tr>
          <tr>
            <td><b>Birthdate</b></td>
            <td>{{ customer.birthdate }}</td>
          </tr>
          <tr>
            <td><b>Phone</b></td>
            <td>{{ customer.phone }}</td>
          </tr>
          <tr>
            <td><b>Email</b></td>
            <td>{{ customer.email }}</td>
          </tr>
        </table>
      </ng-container>

      <button class="btn btn-primary mt-3" routerLink="../../list">Back to list</button>

    </div>
  </div>
</div>
